{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<title> Character view </title>

<header>
    <form class="topnav" method="GET" action="/search/" >
    <input  type="search" name="search" id="search" placeholder="Search">
    <button type="submit"> Go </button>
    </form>
</header>


<body>
<h1 style="color:#F7C9E3"> Character view</h1>

<ul>
{% for e in info_character %}
    {% if e.status %}
    <li style="color:#D6EAF8"> Name: {{e.name}}  Status: {{e.status}}  Species: {{e.species}}  Type: {{e.type}}  Gender: {{e.gender}} </li>
    <h5 style="color:white"> Origin:</h5>
    {% elif e.origin %}
        {% if e.origin == 'unknown' %}
            <li style="color:#D6EAF8">{{ e.origin }}</li>
            <h5 style="color:white"> Location:</h5>
        {% else %}
            <li style="color:#D6EAF8"><a href="/location/{{ e.id }}/" style="color:#9EE5EF"> {{ e.origin }}</a></li>
            <h5 style="color:white"> Location:</h5>
        {% endif %}
    {% elif e.location %}
        {% if e.location == 'unknown' %}
            <li style="color:#D6EAF8">{{ e.location }}</li>
            <h5 style="color:white"> Episodes:</h5>
        {% else %}
            <li style="color:#D6EAF8"><a href="/location/{{ e.id }}/" style="color:#9EE5EF"> {{ e.location }}</a></li>
            <h5 style="color:white"> Episodes:</h5>
        {% endif %}
    {% elif e.episode %}
    <li style="color:#D6EAF8"><a href="/{{ e.id }}/" style="color:#9EE5EF"> {{ e.episode }}</a></li>
    {% elif e.image %}
    <p></p>
    <img src="{{ e.image }}" alt="Character image"/>
    {% endif %}
{% endfor %}
</ul>


</body>
