{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<title> Episode view </title>

<header>
    <form class="topnav" method="GET" action="/search/" >
    <input  type="search" name="search" id="search" placeholder="Search">
    <button type="submit"> Go </button>
    </form>
</header>


<body>
<h1 style="color:#F7C9E3"> Episode view</h1>

<ul>
{% for e in info_episode %}
    {% if e.air_date %}
    <li style="color:#D6EAF8"> Name: {{e.name}}  Air_date:{{e.air_date}}  Episode:  {{e.episode}} </li>
    <h5 style="color:white"> Characters in this episode:</h5>
    {% else %}
    <li style="color:#D6EAF8"><a href="/character/{{ e.id }}/" style="color:#9EE5EF"> {{ e.name }}</a></li>
    {% endif %}
{% endfor %}
</ul>


</body>
