{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 't1/style.css' %}">

<title> Rick and Morty </title>


<header>
    <form class="topnav" method="GET" action="/t1/search/" >
    <input  type="search" name="search" id="search" placeholder="Search">
    <button type="submit"> Go </button>
    </form>
</header>

<body>

<h1 style="color:#F7C9E3"> Episodes </h1>
    <ul>
    {% for e in all_episodes %}
        <li style="color:#D6EAF8"><a href="/t1/{{ e.id }}/" style="color:#9EE5EF"> {{ e.name }}</a>   Air date: {{e.air_date}}   Episode: {{e.episode}} </li>
    {% endfor %}
    </ul>

</body>

